.card {
  position: relative;
}
.card__image {
  display: block;
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}
.card__content {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card__title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 351px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-btn {
  cursor: pointer;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  background-color: transparent;
  background-image: url(../images/like-icon-dark.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: auto;
}
.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url(../images/Union.svg);
  opacity: 1;
}

.card__like-btn_active:hover{
  opacity: .4;
}

.card__del-btn {
  cursor: pointer;
  background-image: url(../images/State=Default.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__del-btn:hover{
  background-image: url(../images/State=Hover.svg);
}

@media screen and (max-width: 430px) {
  .card {
    width: 100%;
  }
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    max-width: 250px;
  }
  .card__content {
    max-width: 300px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}